@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,300;0,400;1,100;1,200&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
/*style for the body*/
body{
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/*style for the header of page*/
h1{
    font-size: 36px;
    text-align: center;
}
p{
    margin: 20px 0;
}
/* style for the content of the txte*/
textarea{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    width: 330px;
    padding: 10px;
    resize: none;
    border-radius: 6px;
    outline: none;
}
/*style for the boutton*/
button{
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    width: 350px;
}
button:hover{
    background-color: #3e8e41;
}
button:active{
    background-color: #3e8e41;
    box-shadow: none;
}